// FONTS
$fontPrincipal: 'Muli', sans-serif;
$fontTitle: 'Playfair Display', serif;

// COLORS
$blackRock: #111;
$snowWhite: #fff;
$swampGreen: #0A2E36;
$springGreen: #27FB6B;
$grassGreen: #14CC60;
$forestGreen: #119822;
$darkGreen: #0A3200;

$sandBrown: #EDDED7;
$mediumBrown: #CAAF9A;
$mediumDarkBrown: #C9AE99;
$DarkBrown:#714E48;
$redWine: #6F2029;
$darkRedWine: #400E10;

// QUERIES
$tablet: 768px;